<?php include("view/header.php.html") ?>
    
    <table style="margin: auto;">
      <tbody>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
        <tr>
          <td style="min-width: 100px; max-width: 100px;"><b style="text-align:left;">Namn:</b></td>
          <td style="min-width: 640px; max-width: 640px;"><?= $door['name'] ?></td>
        </tr>
        <tr>
          <td><b style="text-align:left;">Typ:</b></td>
          <td><?= $door['reader_type'] ?></td>
        </tr>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </tbody>
    </table>
    
    <br/>
    
    <!-- current tickets -->
    <table style="margin: auto;">
      <thead>
        <tr>
          <th style="min-width: 140px; max-width: 140px;"></th>
          <th style="min-width: 220px; max-width: 220px;"></th>
          <th style="min-width: 220px; max-width: 220px;"></th>
          <th style="min-width:  40px; max-width:  40px;"></th>
          <th style="min-width: 120px; max-width: 120px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
        <tr>
          <td colspan="100%"><b style="text-align:left;">Dörrens biljetter:</b></td>
        </tr>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
<?php foreach ($tickets as $ticket) { ?>
        <tr>
          <td><?= $ticket['group_name'] ?></td>
          <td><?= $ticket['begin'] ?></td>
          <td><?= $ticket['end'] ?></td>
          <td><?= $ticket['require_pin'] ?></td>
          <td><form action="/?del_ticket&ticket_id=<?= $ticket['ticket_id'] ?>&door_id=<?= $_REQUEST['door_id'] ?>" method="POST" style="text-align: right;"><input class="button" type="submit" value="Delete ticket" /></form></td>
        </tr>
<?php } ?>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </tbody>
    </table>
    
<?php include("view/footer.php.html") ?>
