<?php include("view/header.php.html") ?>
    
    <table style="margin: auto;">
      <thead>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
        <tr>
          <th style="min-width: 800px; max-width: 800px;"><b style="text-align:left;">Gruppens namn:</b></th>
        </tr>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </thead>
      <tbody>
<?php foreach ($groups as $group) { ?>
        <tr>
          <td><a href="/?group&group_id=<?= $group['group_id'] ?>"><?= $group['name'] ?></a></td>
          <td></td>
        </tr>
<?php } ?>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </tbody>
    </table>
    
<?php include("view/footer.php.html") ?>
