<?php include("view/header.php.html") ?>
    
    <table style="margin: auto;">
      <thead>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
        <tr>
          <th style="min-width: 400px; max-width: 400px;"><b style="text-align:left;">Systemets namn:</b></th>
          <th style="min-width: 400px; max-width: 400px;"><b style="text-align:left;">Hårdvara:</b></th>
        </tr>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </thead>
      <tbody>
<?php foreach ($systems as $system) { ?>
        <tr>
          <td> <a href="/?system&system_id=<?= $system['system_id'] ?>"><?= $system['name'] ?> </a></td>
          <td> <a href="/?system&system_id=<?= $system['system_id'] ?>"><?= $system['hardware'] ?> </a></td>
        </tr>
<?php } ?>
        <tr style="border-bottom:1px solid black"><td colspan="100%"></td></tr>
      </tbody>
    </table>
    
<?php include("view/footer.php.html") ?>
